*.py[cod]
*.db
*.db.*
*.sqlite
*.log
*.old
*.bkup

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Logeion/Perseus-specific
dayj
dictionaries
logs
tests
build.config
TODO
